<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
    <title>PlanteTech</title>
</head>

<body>
<div class="fundo">
    <header>

    <div class="logo">
    <img src="/img/LogoLoja.jpg">
    </div><!--logo-->

    <div class="cabecalho-link">
        <li>
            <a href="#">Quem Somos</a>
        </li>           
        <li>
            <a href="#">Soluções</a>
        </li>           
        <li>
            <a href="#">Ofertas</a>
        </li>           
        <li>
            <a href="#">Contato</a>
        </li>           
         
        <div class="icone"><span><ion-icon name="cart-outline"></ion-icon></span></div>

    </div><!--cabecalho-->

</header>
<div class="meio">
<h1>CAMPEÕES DE PRODUTIVIDADE</h1>
<h1>HIBRIDOS DE MILHO</h1>
<P>Uma seleção especial do melhor em tecnologia</P>
<button>SAIBA MAIS</button>
</div><!--meio-->

</div><!--fundo-->

<section>
    <h1>MAIS SEMENTES</h1>
    <div class="conteiner-car-1">
    <div class="cards">
    <img src="/img/mavuno.jpg">           
    </div><!--cards-->

        <div class="cards">
        <img src="/img/morgan.jpg">
        </div><!--cards-->

        <div class="cards">
        <img src="/img/brevant.jpg">
        </div><!--cards-->

        <div class="cards">
        <img src="/img/pioneer.jpg">
        </div><!--cards-->

        <div class="cards">
        <img src="/img/agroceres.jpg">
        </div><!--cards-->
            
        <div class="cards">
        <img src="/img/barenbrug.jpg">
        </div><!--cards-->
        
        <div class="cards">
            <img src="/img/priorizi.jpg">
            </div><!--cards-->
            
        <div class="cards">
            <img src="/img/biomatrix.jpg">
            </div><!--cards-->

    </div><!--conteiner-card-1-->
</section>

<section class="cta">
    <div class="texto-cta">
    <h6>DESTAQUE DA SAFRA</h6>
    <h4>Hibridos KWS<br>Eficiente e Rentavel</h4>
    <a href="#" class="btn">COMPRAR</a>
    </div><!--texto-cta-->
</section><!--cta-->

<section>
    <h1>EM ESTOQUE</h1>
    <div class="container-kws">
    <div class="kws">
        <img src="/img/K7500VIP3.png">
        <p>Hibrido K7500 VIP3</p>
        <h5>R$ 499,90</h5>
        <ion-icon name="checkmark-outline"></ion-icon>
    </div><!--kws-->

    <div class="kws">
        <img src="/img/K7510VIP3.jpg">
        <p>Hibrido K7510 VIP3</p>
        <h5>R$ 549,00</h5>
        <ion-icon name="checkmark-outline"></ion-icon>
    </div><!--kws-->

    <div class="kws">
        <img src="/img/K8774PRO3.jpg">
        <p>Hibrido K8774 PRO3</p>
        <h5>R$ 750,00</h5>
        <ion-icon name="checkmark-outline"></ion-icon>
    </div><!--kws-->

    <div class="kws">
        <img src="/img/K9555VIP3.jpg">
        <p>Hibrido K9555 VIP3</p>
        <h5>R$ 620,00</h5>
        <ion-icon name="checkmark-outline"></ion-icon>
    </div><!--kws-->
</div><!--container-kws-->
</section>

<div class="marcas">
    <img src="/img/logo_agroceres.png">
    <img src="/img/logo_barenbrug.jpg">
    <img src="/img/logo_brevant.jpg">
    <img src="/img/logo_morgan.png">
    <img src="/img/logo_wolf.png">
    <img src="/img/logo_KWS.png">
</div><!--marcas-->

<section class="contato">

<div class="meio-contato">
    <h3>PLANTE TECH</h3>
    <h5>Quem Somos</h5>
</div><!--meio-contato-->

<div class="meio-contato">
    <h3>FAQ</h3>
    <li><a href="#">Perguntas e Respostas</a></li>
    <li><a href="#">Politica de Privacidade</a></li>
</div><!--meio-contato-->

<div class="meio-contato">
    <h3>ATENDIMENTO</h3>
    <li><a href="#">Fale Conosco</a></li>
    <li><a href="#">Troca e Devolução</a></li>
    <li><a href="#">Politica de Privacidade</a></li>
</div><!--meio-contato-->


<div class="meio-contato">
    <h3>MINHA CONTA</h3>
    <li><a href="#">Pedidos</a></li>
    <li><a href="#">Carrinho de Compras</a></li>
    <li><a href="#">Ofertas Exclusivas</a></li>
</div><!--meio-contato-->

</section><!--contato-->


<script  type = "module"  src = "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
<script  nomodule  src = "https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>
  </html> 

  video que estou seguindo: https://www.youtube.com/watch?v=yfkoLUQUOPs&t=1346s
  

  //Preciso salvar as fotos da DIV conteiner-car-1 com o mesmo tamanho de altura e largura no photoshop.
  apos isso, incluir elas aqui e apagar as atuais. USAR MESMO NOME DE ARQUIVO...NAO ESQUECER
  
  


